<header>
    <nav class="w-full">
        <div class="container mx-auto px-6 flex items-center justify-center py-8 shadow">
            <div class="flex items-center">
                <p class="text-2xl font-bold text-blue" >Google Cloud Text To Speech For</p>
                <img src="{{url_for('static', filename='/images/logo.svg')}}" class="w-100 h-auto object-contain ml-2"/>
            </div>
        </div>
    </nav>
</header>

{% block content %}
{% endblock %}

<footer class="shadow m-4 left-to-right-blu-gradient margin-0">
    <div class="w-full mx-auto max-w-screen-xl p-4 justify-center">
        <p class="text-white text-sm text-center">Made By : <span class="text-black font-bold">Aram Khachatryan</span></p>
    </div>
</footer>
